/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after{content:" ";display:block;height:0;clear:both;overflow:hidden;visibility:hidden;}
.clearfix{*zoom:1;}

html,body{
	width: 100%;
	height: 100%;
	font-family: "PingFangSC-Regular";
    -webkit-text-stroke-width: 0px !important;
    -webkit-font-smoothing: antialiased;	
    min-width: 1200px;
}

.header{
	height: 100%;
	position: relative;
}
.nav{
	width: 100%;
	height: 73px;
	padding: 25px 36px;
	box-sizing: border-box;
	background: #ff1f34;
	position: absolute;
	top: 0;
	z-index: 100;
}
.nav .logo{
	width: 100px;
	height: 23px;
	background-image: url('../images/logo_INVES_white.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.nav .menu{
	width: 24px;
	height: 23px;
	background-image: url('../images/icon_menu_white.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;	
	position: absolute;
	top: 25px;
	right: 36px;
}
.nav-fixed{
	background: #fff;
	position: fixed
}
.nav-fixed .logo{
	background-image: url('../images/logo_INVES_red.png');
}
.nav-fixed .menu{
	background-image: url('../images/icon_menu_black.png');	
}
.banner{
	width: 100%;
	height: 100%;
	padding-top: 73px;
	box-sizing: border-box;
	background: #ff1f34;
}
.introduce{
	width: 915px;
	padding: 125px 174px 98px 174px;
	margin: 0 auto;
}
.introduce h1{
	font-size: 30px;
	color: #000;
	text-align: center;
	margin-bottom: 47px;
}
.introduce .detail{
	font-size: 20px;
	line-height: 1.5;
	color: #000;
	text-align: left;	
	font-family: "PingFangSC-Light"
}
.services{
	width: 1100px;
	margin: 0 auto 130px auto;
}
.service-icon{
	width: 137px;
	height: 137px;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin: 0 68px 34px 68px;
}
.service-item{
	margin-left: 139px;
	float: left;
}
.service-item:first-child{
	margin-left: 0;
}
.service-item h2{
	font-size: 24px;
	color: #000;
	text-align: center;
	font-family: "PingFangSC-Regular";
	margin-bottom: 8px;
}
.service-item p{
	font-size: 20px;
	color: #7c7c7c;
	text-align: center;
	font-family: "DINPro-Light";
}
.service-product{
	background-image: url('../images/icon_yuan.png');
}
.service-brand{
	background-image: url('../images/icon_sanjiao.png');
}
.service-interaction{
	background-image: url('../images/icon_lingxin.png');
	background-size: 80%;
}
.case-item{
	width: 50%;
	float: left;
	height: 345px;
	background-repeat: no-repeat;	
	background-size: 719px 345px;
	background-position: 50% 50%;
	position: relative;
}
.case-yuepaoquan{
	background-image: url('../images/bg_joyrun.png');
	background-color: #f9316e;
}
.case-maxthon{
	background-image: url('../images/bg_maxthon.png');
	background-color: #0d0d0d;
}
.case-qiku{
	background-image: url('../images/bg_qiku.png');
	background-color: #4c059d;
}
.case-quankepai{
	background-image: url('../images/bg_quankepai.png');
	background-color: #fbbb10;
}
.case-logo{
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.case-yuepaoquan-logo{
	width: 414px;
	height: 45px;
	background-image: url('../images/logo_joyrun.png');
}
.case-maxthon-logo{
	width: 320px;
	height: 44px;
	background-image: url('../images/logo_maxthon.png');
}
.case-qiku-logo{
	width: 192px;
	height: 58px;
	background-image: url('../images/logo_qiku.png');
}
.case-quankepai-logo{
	width: 172px;
	height: 57px;
	background-image: url('../images/logo_quankepai.png');
}
.logo-box{
	width: 1072px;
	height: 345px;
	margin: 0 auto 136px auto;
}
.logo-items{
	margin-top: 100px;
}
.logo-item{
	width: 160px;
	height: 55px;
	margin-left: 144px;
	float: left;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.logo-items .logo-item:first-child{
	margin-left: 0;
}
.logo-360{
	background-image: url('../images/logo_360.png'); 
}
.logo-alibaba{
	background-image: url('../images/logo_Alibaba.png');
}
.logo-baidu{
	background-image: url('../images/logo_Baidu.png');
}
.logo-baofeng{
	background-image: url('../images/logo_baofeng.png');
}
.logo-haier{
	background-image: url('../images/logo_haier.png');
}
.logo-jd{
	background-image: url('../images/logo_JD.png');
	background-size: 50%;
}
.logo-meizu{
	background-image: url('../images/logo_Meizu.png');
}
.logo-yidong{
	background-image: url('../images/logo_yidong.png');
}
.logo-huawei{
	background-image: url('../images/logo_huawei.png');
}
.logo-xindongfang{
	background-image: url('../images/logo_xindongfang.png');
	background-size: 60%;
}
.logo-miaozhen{
	background-image: url('../images/logo_miaozhen.png');
	background-size: 50%;
}
.logo-uber{
	background-image: url('../images/logo_uber.png');
}
.start-text{
	font-size: 30px;
	color: #000;
	text-align: center;
	font-family: "PingFangSC-Light";
	margin-bottom: 122px;
}
.contact{
	width: 800px;
	margin: 0 auto;
}
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
 	.case-item{
		background-size: 100% 100%;
	}
	.case-maxthon{
		background-size: 719px 100%;
	}
}